<div class="container">
  <div class="row">
		<div class="col-md-4 col-md-offset-4">
  		<div class="panel panel-default">
		  	<div class="panel-heading">
		    	<h3 class="panel-title">Please sign in</h3>
		 		</div>
		  	<div class="panel-body">
		  		<% @user.errors.full_messages.each do |msg| %>
  					<p><%= msg %></p>
					<% end %>
					<%= form_for(:user, method: :post,
					    url: {action: :post_login}) do |form| %>
					  <fieldset>
					  	<div class="form-group">
						  	<%= form.text_field(:username, class: "form-control", placeholder: "Username") %>
						  </div>
						  <div class="form-group">
						  	<%= form.text_field(:password, class: "form-control", placeholder: "Password", type: "password") %>
						  </div>
						  <%= form.submit "Login", :class => "btn btn-lg btn-success btn-block" %>
					  </fieldset>
					<% end %>
		    </div>
			</div>
		</div>
	</div>
</div>